:root{
    --primary_dark_bg : #0B090A;
    --primary_dark_container_bg: #161A1D;
    --primary_dark_text : #F5F3F4;
    --secondary_dark_text : #D3D3D3;

    --primary_light_bg : #F5F3F4;
    --primary_light_container_bg: #D3D3D3;
    --primary_light_text : #0B090A;
    --secondary_light_text : #161A1D;

    --sell_button_bg: #BA181B;
    --sell_button_hover : #A4161A;
    --sell_button_dark_text : #161A1D;
    --sell_button_light_text : #F5F3F4;
    
    --graph_drop_arrow : #660708;

    --silver : #B1A7A6;
}